@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
body , html{
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: #4299c1 0px 2px 4px 0px, #4299c1 0px 2px 16px 0px;
}
.ant-row{
  margin: 0 20 !important;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color : #4299c1;
}
p{
  margin: 5px !important;
  padding: 0;
  color: #4299c1;
}
.btn1{
  box-shadow: white !important;
  background-color : black !important;
  color: #4299c1 !important;
  border: 1px solid #4299c1 !important;
  padding: 5px 15px !important;
  outline: white !important;
}
.bt1:focus{
  border: none;
}
button{
  padding: 3px 10px !important;
}
.header{
  padding: 10px;
  
}
.header .ant-btn{
  box-shadow: white !important;
  background-color : black !important;
  color: #4299c1 !important;
  border: 1px solid #4299c1 !important;
  padding: 5px 15px !important;
  outline: white !important;
}
.content{
  min-height: 90vh;
  
}
.footer{
  background-color: black;
  padding: 10px;
}


/* this is just for ui purpose , no functionality is related */
.business{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
}
.business:hover{
  height :220px;
  color:#4299c1;
}
.business:hover > .business-content{
    opacity: 1;
    transform : translateY(-80px)
}
.businessimg{
  height:180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-90px);
}
.business-content{
  transform: translateY(-240px);
  opacity: 0;
  transition: 0.1s;
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}
.login label , .login h1{
  color: #4299c1 !important;
  opacity: 0.6;
}
.login-form{
  background-color: #1F1F1F;
}
.login-form input{
  background-color: #333333 !important;
  border : none !important;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.login-logo{
  position: absolute;
  left:0;
  right:0;
  top: 60%;
  bottom: 50%;
  transform: translateY(-50% , -50%);
  font-size:45px;
  opacity: 0.2 !important;
  

}
.login a{
  color: #4299c1 !important;
  opacity: 0.5;
}

svg{
  height:20px !important;
  width : 20px !important;
}

a{
  color: #4299c1 !important;
}

.dropbtn {
  background-color: black;
  color: #4299c1;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #4299c1;
  z-index: 1;
}

.dropdown-content a {
  background-color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: white;
}

.dropdown:hover .dropbtn {
  background-color: #4299c1;
  color: white
}

.datePicker{
  box-shadow: white !important;
  background-color : white !important;
  color: red !important;
  border: 1px solid #4299c1 !important;
  padding: 5px 15px !important;
  outline: white !important;
}
